main::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(https://user-images.githubusercontent.com/87035690/135363778-6daaa32c-2981-4bb0-bfe6-5ad05e6b77aa.jpeg);
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
	z-index: -1;
	opacity: 0.25;
}

header {
	clip-path: polygon(0 0, 100% 0, calc(100% - 1em) 100%, 0 100%);
}

input {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	text-align: center;
	align-self: center;
	justify-self: center;
}

.input {
	display: grid;
	position: relative;
	padding: 3px;
	font-size: 36px;
	background: #009894;
	width: 2em;
	height: 2em;
	border-radius: 10px;
}

.input.year {
	width: 4em;
}

.input:not(:last-child):after {
	content: '';
	position: absolute;
	top: 50%;
	right: -100%;
	height: 5px;
	width: 100%;
	background-color: inherit;
}

.date-group {
	display: grid;
	grid-template-columns: repeat(3, auto);
}
